extends layout

block content
    <!DOCTYPE html>
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            title XBOX 360
        body
            .jumbotron
                .container
                center
                    font(face='Gill Sans Ultra Bold')
                        h1 HOLA, BIENVENIDO A XBOX 360!
                        p Esta es una pagina wed donde puedes ver todos los juegos que te ofrecemos...
                        p
            .container
                
                .row
                    .col-md-4
                        h2 XBOX 360 #1
                            img.d-block.w-100(src='img/xbox1.jpg')
                            a.btn.btn-info(href='xbox1' role='button') Ver juegos &raquo;
                            a.btn.btn-info(href='#' role='button') Agregar &raquo;
                    .col-md-4
                        h2 XBOX 360 #2
                            img.d-block.w-100(src='img/xbox2.jpg')
                            a.btn.btn-info(href='xbox2' role='button') Ver juegos &raquo;
                            a.btn.btn-info(href='#' role='button') Agregar &raquo;
                    .col-md-4
                        h2 XBOX 360 #3
                            img.d-block.w-100(src='img/xbox3.jpg')
                            a.btn.btn-info(href='xbox3' role='button') Ver juegos &raquo;
                            a.btn.btn-info(href='#' role='button') Agregar &raquo;