extends layout

block content
    <!DOCTYPE html>
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            title XBOX 360
        body
            .jumbotron
                .container
                center
                    font(face='Gill Sans Ultra Bold')
                        h1 HOLA, BIENVENIDO A XBOX 360!
                        p Esta es una pagina wed donde puedes ver todos los juegos que te ofrecemos...
                        p
            .container
                
                .row
                    .col-md-4
                        h2 XBOX 360 #1
                            img(src='./img/xbox#1.jpg' style='width:300px;height:200px;')
                            a.btn.btn-info(href='#' role='button') Ver juegos &raquo;
                    .col-md-4
                        h2 XBOX 360 #2
                            img(src='../img/xbox#1.jpg' style='width:300px;height:200px;')
                            a.btn.btn-info(href='#' role='button') Ver juegos &raquo;
                    .col-md-4
                        h2 XBOX 360 #3
                            img(src='xbox#1.jpg' style='width:300px;height:200px;')
                            a.btn.btn-info(href='#' role='button') Ver juegos &raquo;
