extends layout

block content
    <!DOCTYPE html>
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            title XBOX 360
        body
            .jumbotron
                .container
                center
                    font(face='Gill Sans Ultra Bold')
                        h1 HOLA, BIENVENIDO A XBOX 360!
                        p Esta es una pagina wed donde puedes ver todos los juegos que te ofrecemos...
                        p
            .container
                form(role='form')
                    .row
                        .col-xs-6.col-sm-6.col-md-6
                            .form-group
                                input#first_name.form-control.input-sm(type='text' name='first_name' placeholder='First Name')
                        .col-xs-6.col-sm-6.col-md-6
                            .form-group
                                input#last_name.form-control.input-sm(type='text' name='last_name' placeholder='Last Name')
                    .form-group
                        input#email.form-control.input-sm(type='email' name='email' placeholder='Email Address')
                    .row
                        .col-xs-6.col-sm-6.col-md-6
                            .form-group
                                input#password.form-control.input-sm(type='password' name='password' placeholder='Password')
                        .col-xs-6.col-sm-6.col-md-6
                            .form-group
                                input#password_confirmation.form-control.input-sm(type='password' name='password_confirmation' placeholder='Confirm Password')
                    input.btn.btn-info.btn-block(type='submit' value='Register')
