extends layout

block content
    <!DOCTYPE html>
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            title XBOX 360
        body
            .jumbotron
                .container
                center
                    font(face='Gill Sans Ultra Bold')
                        h1 REGISTRATE!
            .container
                form(role='form')
                    .row
                        .col-xs-6.col-sm-6.col-md-6
                            .form-group
                                input#first_name.form-control.input-sm(type='text' name='nombre' placeholder='Nombre')
                        .col-xs-6.col-sm-6.col-md-6
                            .form-group
                                input#last_name.form-control.input-sm(type='text' name='apellido' placeholder='Apellido')
                    .form-group
                        input#email.form-control.input-sm(type='email' name='email' placeholder='Email')
                    .row
                        .col-xs-6.col-sm-6.col-md-6
                            .form-group
                                input#password.form-control.input-sm(type='password' name='password' placeholder='Contraseña')
                        .col-xs-6.col-sm-6.col-md-6
                            .form-group
                                input#password_confirmation.form-control.input-sm(type='password' name='password_confirmation' placeholder='Confirmar contraseña')
                    input.btn.btn-info.btn-block(type='submit' value='Registrar')
