extends layout

block content
    <!DOCTYPE html>
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            title XBOX 360
        body
            br
            br
            br
            h1
                center LISTADO DE JUEGOS XBOX #3
                br
            center
                table(border='2' cellspacing='0' cellpadding='10')
                    thead
                        tr
                            th ID
                            th NOMBRE DEL JUEGO
                        tr
                            td 001
                            td FIFA 19 
                        tr
                            td 002
                            td Resident Evil HD Remaster
                        tr
                            td 003
                            td Phantom Breaker: Battle Grounds Overdrive XBLA
                        tr
                            td 004
                            td Grand Theft Auto V
                        tr
                            td 005
                            td NBA 2K14
                        tr 
                            td 006
                            td Resident Evil 6
                        tr 
                            td 007
                            td UFC Undisputed 3
                        tr 
                            td 008
                            td Alan Wake
                        tr 
                            td 009
                            td Counter-Strike: Global Offensive XBLA
                        tr
                            td 010
                            td Mass Effect 2
                        tr 
                            td 011
                            td Resident Evil HD Remaster