extends layout

block content
    <!DOCTYPE html>
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            title XBOX 360
        body
            br
            br
            br
            h1
                center LISTADO DE JUEGOS XBOX #1
                br
            center
                table(border='2' cellspacing='0' cellpadding='10')
                    thead
                        tr
                            th ID
                            th NOMBRE DEL JUEGO
                        tr
                            td 001
                            td Resident evil 5
                        tr
                            td 002
                            td Grand Theft Auto V
                        tr
                            td 003
                            td Resident Evil 6
                        tr
                            td 004
                            td Alan Wake
                        tr
                            td 005
                            td Need for Speed: Most Wanted 
                        tr 
                            td 006
                            td Marvel Ultimate Alliance 2 Fusion
                        tr 
                            td 007
                            td Fallout 3
                        tr 
                            td 008
                            td Crash Guerra al coco-maniaco
                        tr 
                            td 009
                            td BioShock Infinite
                        tr
                            td 010
                            td Borderlands: The Pre-Sequel
                        tr 
                            td 011
                            td Saints Row: The Third